# LiveKit 
livekit>=0.19.1
livekit-agents>=0.12.11
livekit-plugins-openai>=0.10.17
livekit-plugins-silero>=0.7.14

# Framework Web
flask>=2.3.0
flask-cors>=4.0.0
python-dotenv~=1.0

# Dependencias ML
pandas>=1.5.0
scikit-learn==1.6.1
joblib>=1.2.0
numpy>=1.21.0,<2.0.0
dill>=0.3.6
xgboost 
